body {
    background-color: #5aff70;
    padding: 20px;
    margin: 0;
}
h1, h2, p, ul, li {
    font-family: Arial;
}
ul.header li{
    display: inline;
    list-style-type: none;
    margin:0;
}
ul.header{
    background-color: #0a139d;
    padding:0;
}
ul.header li a {
    color: #fffdd9;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: #fffdd9;
    padding:20px;
}
.content li {
    margin-bottom: 10px;
}
.active{
    background-color: #0099FF;
}